.wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

.contacts{
    position: relative;
}

.contacts:hover .contacts__drop{
    top: 35px;
}

.contacts__drop{
    padding: 20px;
    background: #ccc;
    border-radius: 5px;
    position: absolute;
    top: 35px;
    right: 0;
}
.contacts__drop::after{
    content: '';
    display: flex;
    border: 10px solid transparent;
    border-bottom: 10px solid #ccc;
    position: absolute;
    bottom: 102%;
    right: 10px;

}
.contacts__drop::before{
    content: '';
    display: flex;
    border: 22px solid transparent;
    border-bottom: 22px solid #ff0000;
    position: absolute;
    bottom: 101%;
    right: 8px;
    border-radius: 10px;
}
/* .box{
    width: 200px;
    height: 200px;
    background: #ccc;
    animation: backDown 2s cubic-bezier(1,-0.16,.81,1.15) forwards;
} */

/* .box2{
    width: 200px;
    height: 200px;
    background: #ccc;
    animation: bounce 2s infinite;
} */

/* @keyframes backDown {
    0% {
        opacity: .5;
        transform: translateY(-1200px) scale(.7);
        border-radius: 50%;
    }

    80% {
        transform: translateY(0px) scale(.7);
        opacity: .5;
        border-radius: 50%;
    }

    100%{
        opacity: 1;
        transform: scale(1);
        border-radius: 5%;
    }
} */